body {
    background-color: #205F68;
}
h1 {
    background-color: teal;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}
h2 {
    background-color: #0e2a30;
    color:white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h3 {
    background-color: #e4d683;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
p {
    color: white;
    font-family: verdana;
    
}
th, td , table {
    border: 1px solid;
    border-color: black;
    border-collapse: collapse
}
table {
    width: 60%  
}

tr:not(:first-child):hover {
    background-color: rgb(158, 196, 214);
    color:white
}
th {
    background-color: #BBA045;
}
td{
    color:white
}
.tabla-uno {
    background-color: black;
}

.tabla-dos {
    background-color:grey ;
}
button:hover {background-color: orange;}